@typeparam GItem
@typeparam FItem
@inherits ComponentBase

@namespace EmployeeManagementApp.Components.ManageGrid

<CascadingValue Value="@this" IsFixed>
    <Row Flex="Flex.JustifyContent.Center" Padding="FormPadding">
        <Column ColumnSize="FormColumnSize">
            <Fields>
                @foreach (FormField<GItem, FItem> field in Fields)
                {
                    @if (field.Template == null)
                    {
                        @if (field.Validate)
                        {
                            <Validation Validator="ValidationRule.IsNotEmpty">
                                <Field>
                                    <FieldLabel>@field.Label</FieldLabel>
                                    <TextEdit TValue="string" Text="@field.CurrentValue" TextChanged="@field.FormValueChanged">
                                        <Feedback>
                                            <ValidationNone>@field.FeedbackNone</ValidationNone>
                                            <ValidationSuccess>@field.FeedbackGood</ValidationSuccess>
                                            <ValidationError>@field.FeedbackError</ValidationError>
                                        </Feedback>
                                    </TextEdit>
                                </Field>
                            </Validation>
                        }
                        else
                        {
                            <Field>
                                <FieldLabel>@field.Label</FieldLabel>
                                <TextEdit TValue="string" Text="@field.CurrentValue" TextChanged="@field.FormValueChanged">
                                </TextEdit>
                            </Field>
                        }
                    }
                    else
                    {
                        @field.Template(field.CurrentValue)
                    }
                }
                <Field>
                    <FieldLabel />
                    <Button Color="Color.Primary" Disabled="@(!formSuccess)" Clicked="@OnAddItem" PreventDefaultOnSubmit>@ButtonLabel</Button>
                </Field>
            </Fields>
        </Column>
    </Row>
</CascadingValue>
<CascadingValue Value="@this" IsFixed>
    @AssetFormFields
</CascadingValue>

